<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="serviceBinding" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IAlleFinderService" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webapi.allegro.pl/service.php" binding="basicHttpBinding"
                bindingConfiguration="serviceBinding" contract="AllegroServiceReference.servicePort"
                name="servicePort" />
            <endpoint address="https://allefinderserviceapp.azurewebsites.net/AlleFinderService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAlleFinderService"
                contract="AlleFinderServiceReference.IAlleFinderService" name="BasicHttpsBinding_IAlleFinderService" />
        </client>
    </system.serviceModel>
</configuration>